@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>
  
    <title>Document</title>
</head>
<body>
    <center>
    <h1 >Contact us!</h1>
    <form action="showdata" method="post">
        <label for="">First Name</label>
        <input type="text" name="firstname" placeholder="Enter your first name" ><br>
        <label for="">Last Name</label>
        <input type="text" name="secondname" placeholder="Enter your second name" ><br>
        <label for="">Gender</label><br>
        <label for="">Male</label>
        <input type="radio" name="gender" id="">
        <label for="">Female</label>
        <input type="radio" name="gender" id="">
        <select name="dropdown" id="">
            <option value="Select" name="s">Select</option>
           <option value="Acrylic-Nails" name="s">Acrylic Nails</option>
            <option value="Gel-nails" name="s">Gel Nails</option>
            <option value="Manicure" name="s"> Manicure</option>
             <option value="pedicure" name="s"> Pedicure</option>
        </select>
     
    </form>
       </center>
</body>
