@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head>

    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/css/StyleSheet.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body class="hero">
    <center>
        <nav id="n">
            <h2 class="logo">
              Nailed It
            </h2>
            <ul>
            <li><a href="@Url.Action("Index","Home")">Home</a></li>
           <li><a href="@Url.Action("About","Home")">About Us</a></li>
            <li><a href="@Url.Action("Services","Home")">Our Services</a></li>
             <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
        </ul>
        </nav>
 
    <form action="/Appointments/showdata" method="post">
        <h3>Book Your Appointment</h3>
        <label for="">First Name</label>
        <input type="text" name="firstname" class="em"  placeholder="Enter your first name" ><br>
        <label for="">Last Name</label>
        <input type="text" name="secondname" class="em"  placeholder="Enter your second name" ><br>
         <label for="">Your Email </label>
        <input type="text" name="email" id="me" placeholder="Enter your Email" ><br>
        <label for="">Phone No</label>
        <input type="text" name="Phn" class="em"  placeholder="Enter your Phone Numbers" ><br>
       <select name="dropdownn">
           <option value="Select" name="s">Select Time</option>
             <option value="05:00 pm" name="s">05:00 pm</option>
            <option value="06:00 pm" name="s">06:00 pm</option>
                <option value="07:00 pm" name="s">07:00 pm</option>
                    <option value="08:00 pm" name="s">08:00 pm</option>
                    <option value="09:00 pm" name="s">09:00 pm</option>
                <option value="10:00 pm" name="s">10:00 pm</option>
                  
       </select>
        <select name="dropdown" id="select">
            <option value="Select" name="s">Select Service</option>
           <option value="Acrylic-Nails" name="s">Acrylic Nails</option>
            <option value="Gel-nails" name="s">Gel Nails</option>
            <option value="Manicure" name="s"> Manicure</option>
             <option value="pedicure" name="s"> Pedicure</option>
        </select><br />
        
   <button type="submit" class="button_1">Book Now</button>
    <h4> -------------------Nailed it-------------------</h4>
   
    </form>
   
       </center>
        <footer>
      
      <div class="social">
            <a href="https://www.facebook.com/profile.php?id=100042179680169"><i class="fa-brands fa-facebook"></i></a>
         <a href="https://www.instagram.com/?hl=en"><i class="fa-brands fa-instagram"></i></a>
          <a href="https://mail.google.com/mail/u/0/#inbox?compose=new"><i class="fa-solid fa-at"></i></a>
      </div>
      <p class="end">Copyright By Nailed It</p>
  </footer>
</body>

